.flip-card {
    background-color: transparent;
    perspective: 1000px;
    cursor: pointer;
    height: 40vh;
    /* set a fixed height for flip effect */
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 10px;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Front Side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    /* hide when flipped */
    top: 0;
    left: 0;
}

/* Front */
.flip-card-front {
    z-index: 2;
}

.flip-card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.card-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
    text-transform: uppercase;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

/* Back */
.flip-card-back {
    background: linear-gradient(205deg, #07baf3 1%, #1703a9 100%);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transform: rotateY(180deg);
    font-size: 1rem;
    line-height: 1.5;
    z-index: 1;
}

.chapter-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    /* Overlay effect */
    transition: background 0.3s;
    border-radius: 10px;
}


@media (max-width:480px) {
    .flip-card {
        height: 40vh;
    }
}