.hero-left {
    margin-left: 7rem;
  }
  .fac-hero-section{
    position: relative;
    z-index: 1;
  }
  .fac-hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5); /* black overlay with 60% opacity */
    z-index: -1;
  }

  @media (max-width: 768px) {
    .hero-left {
      margin-left:0; /* md and up */
    }
      .bread-crumb{
    font-size: 13px !important;
    letter-spacing: 1px !important;
    font-weight: 300 !important;
  }
  }
  @media (max-width: 480px) {
    .fac-hero-section{
      min-height: 40vh !important;
    }
  }
  