.phil-icon-image {
  height: 60px;
  width: 60px;
  object-fit: contain;
}

/* Divider line only for large screens */
.border-end-lg {
  border-right: 3px solid rgba(255, 255, 255, 0.726);
}

@media (max-width: 991px) {
  .border-end-lg {
    border-right: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

/* Vision + Mission text styling */
.mission-list {
  text-align: left;
  list-style-type: disc;
  padding-left: 1.2rem;
  font-weight: 300;
  /* font-size: 1rem;  */
  line-height: 1.5;
}

.aboutphil-container {
  row-gap: 2rem;
}
.vission-p, .vission-p ul li {
    font-family: "Merriweather", serif !important;
  font-weight: 400 !important;
  letter-spacing: 1px;
}
.vission-h1 span {
  color: #5ac501;

}

.vision-supplementary-image{
  height: 44vh;
  width: 100%;
  object-fit: cover;
}