.phil-icon-image{
    height: 60px;
    width: 60px;
    object-fit: contain;
}

.with-divider {
    border-right: 3px solid white; /* white-ish line */
  }
  
  @media (max-width: 767px) {
    /* On mobile, switch to bottom border instead */
    .with-divider {
      border-right: none;
      border-bottom: 2px solid rgba(255, 255, 255, 0.4);
      margin-bottom: 1rem;
      padding-bottom: 1rem;
    }
  }
  