.pgpm-banner-bottom-container {
  height: 350px !important;
}

/* SECTION */
.industry-connect {
  width: 100%;
  background: #ffffff;
  padding: 60px 0;
}

/* CONTAINER */
.industry-connect__container {
  padding: 0 16px;
}

/* GRID */
.industry-connect__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

/* IMAGE */
.industry-connect__image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
}

/* CONTENT */
.industry-connect__container h3 {
  color: #0c0c0c;
  margin-bottom: 1rem;
  font-weight: 600;
}

.industry-connect__content p {
  font-size: 20px;
  line-height: 1.7;
  color: #1b1b1b;
}

/* =========================
   RESPONSIVE
========================= */

/* TABLET */
@media (max-width: 991px) {
  .industry-connect {
    padding: 50px 0;
  }

  .industry-connect__grid {
    gap: 32px;
  }
}

/* MOBILE */
@media (max-width: 767px) {
  .industry-connect__grid {
    grid-template-columns: 1fr;
  }

  .industry-connect__content h3 {
    font-size: 17px;
  }

  .industry-connect__content p {
    font-size: 13.5px;
  }
}
