.fee-structure {
  margin-top: 1rem;
  line-height: 1.6;
  color: #333;
}

.fee-info {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  gap: 2rem;
  margin-top: 1rem;
}
.fee-image{
    width: 50%;
}
.fee-image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.fee-details {
  flex: 0;
  min-width: 50%;
}

.fee-details h5 {
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.fee-details p {
  margin-bottom: 0.6rem;
  font-size: 0.95rem;
}

.scholarship-section {
  margin-top: 2rem;
  background: #f8f6fb;
  padding: 1.5rem;
  border-radius: 8px;
}

.scholarship-section h4 {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.accordion-button {
  font-weight: 500;
}

.hostel-sec{
    background: linear-gradient(205deg, rgb(7, 186, 243)  1% , rgb(23, 3, 169) 100%) !important;
    border: none !important;
}
.hostel-sec-table-data{
  background-color: #f8f6fb;
}
.hostel-sec-head{
  color: #005bd4 !important;
}

@media (max-width:480px) {
  .fee-info{
    flex-direction: column;
  }
  .fee-image{
    width: 100%;
  }
}
