.BPC-icons {
    height: 70px;
    width: 70px;
}

.BPC-work-right-content-img-div {
    height: 100px;
    width: 100px;
    padding: 20px;
    background: linear-gradient(205deg, rgb(7, 186, 243) 1%, rgb(23, 3, 169) 100%) !important;
    color: white;
    border-radius: 50%;
}

.BPC-work-right-content-img-div img {
    height: 100%;
    width: 100%;
    filter: brightness(0) invert(1);
}

.BPC-work-left-content {
    height: 200px;
    width: 200px;
    padding: 10px;
    background: linear-gradient(205deg, rgb(7, 186, 243) 1%, rgb(23, 3, 169) 100%) !important;
    color: white;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.BPP-progress-bar {
    height: 35px;
    border-radius: 40px;
}

.two-column-list {
    columns: 2;
    /* or use column-count: 2; */
    column-gap: 40px;
    /* space between columns */
    list-style-type: disc;
    padding-left: 20px;
}

.two-column-list li {
    margin-bottom: 10px;
}


@media (max-width:768px) {
    .BPC-work-left-content{
        height: 120px;
        width: 120px;
    }
    .BPC-work-left-content h1{
       font-size: 2rem;
       margin: 0;
    }
}