.media-play-thumbnail {
    position: relative;
    width: 100%;
    height: 40vh;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
}

.media-play-icon {
    position: absolute;
    bottom: 20%;
    left: 10%;
    background-color: #5ac501;
    color: white;
    border-radius: 50%;
    padding: 10px;
}

.mga-para {
    background: linear-gradient(205deg, rgb(7, 186, 243) 1%, rgb(23, 3, 169) 100%) !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    height: 10vh;
}

.tab-button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: #555;
  font-weight: 400;
  padding-bottom: 6px;
  border-bottom: 3px solid transparent;
  transition: all 0.3s ease;
}

.tab-button:hover {
  color: #000;
}

.tab-button.active {
  color: #5ac501;
  font-weight: 600;
  border-bottom: 3px solid #5ac501;
}
.mga-card-div{
    border-radius: 10px;
    color: white;
}
.mga-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
