.platforms-container{
    margin-top: 3%;
}
.platform{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 0 3%;
}
.platform-item-div h1{
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
}
.platform-item-div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}
.platform-indiviual-con p{
    width: 80%;
}
.platform-item-div i{
    padding: 3px 7px;
    text-align: center;
    border: 1px solid black;
}
.platform-indiviual-con{
    border-bottom: 1px solid gainsboro;
    margin: 3% 0;
}
.platform-btn{
    width: 50% !important;
    margin-bottom: 3%;
}
.platform-text{
    margin-top: 3%;
}
.platform img{
    height: 515px;
    width: 100%;
    border-radius: 10px;
    
}
.platform-data-div{
    width: 100%;
}