.cpb-data-div{
    border-left: 1px solid rgb(215, 213, 213);
    height: fit-content;
}
.cpb-data-grid{
    background-color: #0c0142;
    color: white;
    padding: 5%;
}
.cpo-data-div {
  width: 100%;
  position: relative;
  overflow: visible;
  cursor: pointer;
}

.cpo-image-container {
  position: relative;
  overflow: hidden;
}

.cpo-data-div img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  transition: transform 0.5s ease;
}

/* Overlay above image */
.cpo-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
background: rgba(0, 0, 0, 0.3);

  transition: background 0.5s ease;
}

/* Hover effects */
.cpo-data-div:hover img {
  transform: scale(1.1);
}

.cpo-data-div:hover .overlay {
background: rgba(0, 0, 0, 0.6);

}

/* Text above image */
.cpo-data-header-div {
  position: absolute;
  top: 10%;
  left: 5%;
  right: 5%;
  font-size: 20px;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.cpo-data-para {
    position: absolute;
    bottom: -20%;
    left: 0;
    color: white;
    background-color:#0c0142;
    width: 80%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}
.cpo-data-para:hover{
    border-bottom: 3px solid #5ac501;
    
}
.contact-cpo-container{
    margin-top: 8%;
}
.cpo-contact-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding:3% 5%;
    position: absolute;
    bottom: -10%;
    right: 0;
    width: 50%;
    height: 30vh;
    color: white;
    background-color: #0c0142;
}
.cpo-contact-bg-image{
    position: relative;
    overflow: visible;
}
.cw-right-image{
    width: 50%;
    height: 50vh;
    object-fit: cover;
}
.cw-action-btn-div{
    border-bottom: 1px solid gainsboro;
    padding-bottom: 5%;
    padding-top: 5%;
}
@media (max-width:768px) {
    .cpo-data-para{
        bottom: -5%;
        width: 100%;
    }
    .cpo-contact-details{
        position: relative;
        width: 100%;
    }
        .connect-section{
        padding: 30px 20px;
    }
}
@media (max-width:480px) {
    .cpo-data-para{
        bottom: -7%;
        width: 100%;
    }
    .connect-section{
        padding: 30px 20px;
        border-radius: 10px;
    }
    .connect-section::before{
        border-radius: 10px;
    }
    .cw-right-image{
        width: 100%;
        height: 30vh;
    }
    .cpo-data-div img{
        height: 35vh;
    }
    .cpo-data-para{
        height: fit-content;
        padding: 3%;
    }
    .cpb-data-grid{
        padding: 8%;
    }
    .cpo-contact-details{
        height: fit-content;
    }
}