.placement-tab-div{
    max-width: 1320px;
    width: 100%;
}
.placement-btns-final{
    width: 100%;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
}
.placement-btns-intern{
    width: 100%;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
}
.active {
  background: #5ac501;
  color: white;
  border: none;
}

.placement-table {
  width: 50%;
  border-collapse: collapse;
}

.placement-table th,
.placement-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.placement-table th {
  background-color: #0c0142;
  color: white;
}

.placement-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.placement-table tr:hover {
  background-color: #e6f2d6;
}
.placement-table-head{
    border: 1px solid #0c0142;
    background-color: #0c0142;
    color: white;
    padding: 1rem;
    width: 50%;
    font-weight: 500;
    font-size: 1rem;
}

.placement-car-slide {
  text-align: center;
}

.placement-car-image {
  width: 100%;
  max-width: 500px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.placement-car-head {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.placement-car-para {
  font-size: 1rem;
  color: #555;
}
.press-note-btn{
  background-color: #5ac501;
  color: white;
  padding: 1rem;
  margin: 0;
}
.border-css{
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  padding: 5%;
}
.highlight-box{
  background-color: #0c0142;
  color: white;
  padding: 3rem;
}

.recruiter-card {
  background-color: #fff;           /* white background */
  color: black;                   /* dark text for contrast */
  border: none;                     /* remove border */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* soft shadow */
  font-weight: 500;
  height: 100px;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recruiter-swiper {
  background: transparent;  /* no background wrapper */

}
.swiper-place-tab{
  padding: 3% 0;
}
.contact-place-con{
  background-color: #0c0142;
  color: white;
  padding: 3%;
}
.place-contact-vertical{
  border: 1px solid white;
}

@media (max-width:768px){
  .placement-table {
  width: 100%;
}
.placement-table-head{
  width: 100%;
}
  .highlight-box .col-12 {
    border: none !important;
  }
  .recruiter-card{
    height: 60px;
  }
  .pg-applications{
        display: grid !important;
        grid-template-columns: repeat(2, 1fr) !important;
        margin: 0 !important;
        width: 100% !important;
  }
  .app-content{
    margin: 0 !important;
  }
} 

@media (max-width:380px){
    .pg-applications{
        display: grid !important;
        grid-template-columns: repeat(1, 1fr) !important;
        margin: 0 !important;
        width: 100% !important;
  }
}