/* Regular */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: "AcidGrotesk";
  src: url("/fonts/FFF-AcidGrotesk-Regular-TRIAL.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "AcidGrotesk";
  src: url("/fonts/FFF-AcidGrotesk-Regular-Italic-TRIAL.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

/* Medium */
@font-face {
  font-family: "AcidGrotesk";
  src: url("/fonts/FFF-AcidGrotesk-Medium-TRIAL.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "AcidGrotesk";
  src: url("/fonts/FFF-AcidGrotesk-Medium-Italic-TRIAL.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

/* Bold */
@font-face {
  font-family: "AcidGrotesk";
  src: url("/fonts/FFF-AcidGrotesk-Bold-TRIAL.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "AcidGrotesk";
  src: url("/fonts/FFF-AcidGrotesk-Bold-Italic-TRIAL.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

/* Black */
@font-face {
  font-family: "AcidGrotesk";
  src: url("/fonts/FFF-AcidGrotesk-Black-TRIAL.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "AcidGrotesk";
  src: url("/fonts/FFF-AcidGrotesk-Black-Italic-TRIAL.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

/* Light */
@font-face {
  font-family: "AcidGrotesk";
  src: url("/fonts/FFF-AcidGrotesk-Light-TRIAL.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "AcidGrotesk";
  src: url("/fonts/FFF-AcidGrotesk-Light-Italic-TRIAL.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

/* ExtraLight */
@font-face {
  font-family: "AcidGrotesk";
  src: url("/fonts/FFF-AcidGrotesk-ExtraLight-TRIAL.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "AcidGrotesk";
  src: url("/fonts/FFF-AcidGrotesk-ExtraLight-Italic-TRIAL.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
}

/* UltraLight */
@font-face {
  font-family: "AcidGrotesk";
  src: url("/fonts/FFF-AcidGrotesk-UltraLight-TRIAL.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "AcidGrotesk";
  src: url("/fonts/FFF-AcidGrotesk-UltraLight-Italic-TRIAL.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}

/* ExtraBold */
@font-face {
  font-family: "AcidGrotesk";
  src: url("/fonts/FFF-AcidGrotesk-ExtraBold-TRIAL.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "AcidGrotesk";
  src: url("/fonts/FFF-AcidGrotesk-ExtraBold-Italic-TRIAL.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "GothamBold";
  src: url("/fonts/HomepageBaukasten-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Aptos-Bold";
  src: url("/fonts/Aptos-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "georgiab";
  src: url("/fonts/georgiab.ttf");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Merriweather", serif !important;
/* overflow-x: hidden; */
margin: 0;
}
h1,h2,h3,h4,h5,h6{
  font-family: "AcidGrotesk", sans-serif !important;
  margin: 0;
  font-weight: 800;
  color: #011225;
}
p, ul>li, ol>li{
  font-family: "Merriweather", serif !important;
  margin: 0;
  font-weight: 500 !important;
  /* color: #022043 ; */
}
.logo-text{
 font-family: 'GothamBold' !important;
 font-weight: 600 !important;
}
.logo-text-under{
   font-family: 'GothamBold' !important;
 font-weight: 600 !important;
}