.bgGradient{
    background-color: #043361;
    /* background: linear-gradient(266deg,rgb(13, 8, 110) 0%, rgb(15, 15, 175) 35%, rgb(177, 231, 241) 80%); */
    background-image: linear-gradient(to right, #e3f1f8, #060a6b);
}
.footer-links-content-con{
    position: relative !important;
    z-index: 999 !important;
}
/* .bg-overlay-footer {
    background-image: linear-gradient(180deg, white, #f5f4fd00); 
    height: 100px;
    z-index: 9999;
    position: absolute;
    inset: 0% 0% auto; 
  }   */
.vertical-line-footer{
    border: 1px solid white;
    height: 200px;
    background-image:linear-gradient(to right, #e3f1f8, #060a6b);;
}
/* .new-footer-links{
    width:50%;
} */
 .new-footer-text-a.text-dark {
 color: #000 !important;
 }
 .logo-bottom-text{
    position: absolute;
    bottom: -50%;
    font-size: 13px;
    font-weight: 300;
    color: #dfdfdf;
    margin-left: 6%;

 }
.input-text{
    width: 20%;
}
.new-footer-text-a{
    font-size: 13px;
    font-weight: 300;
    color: #dfdfdf;
}
.footer-new-input{
    background-color: transparent !important;
    color: white !important;
    font-size: 13px !important;
    border: none !important;
    outline: none !important;
    padding-left: 0 !important;
}
.footer-new-input::placeholder {
    color: white !important;
    opacity: 0.8;
}
.input-text{
    border-bottom: 1px solid white;
}
.horizontal-line{
    /* border: 1px solid white; */
    height: 2px;
    /* background-image: linear-gradient(to left, #e3f1f8, #060a6b); */
    background-color: #fff;
}
.batchImage{
    position: relative;
    height:250px;
    width: 130%;
    top: -44%;
    left:-10%;
    max-width: 150%;
}
.logo-batch-div{
    position: relative;
    height: 200px;
    width: 100%;
}
.logoImage-footer{
    position: absolute;
    top:-32%;
    left: 6%;
    height: 95%;
    width: 100%;
    cursor: pointer !important;
    /* filter: brightness(0) invert(1); */
}
.new-footer-logo{
    width: 20%;
}
.new-footer-head{
    font-size: 14px !important;
    font-weight: 600 !important;
}
.sub-new-footer-btn{
    font-weight: 100;
    font-size: 14px;
    bottom: 0;
}

@media (max-width: 768px) {
    .new-footer-logo {
        width: 100%;
    }
    .logoImage-footer {
        width: 30%;
    }
    .vertical-line-footer {
        border: 1px solid white;
        background-color: white;
        height: 0;
        width: 100%;
    }
    .input-text {
        width: 100% !important;
    }
    .add-new-foot{
        font-size: 12px !important;
    }
    .icon-social i {
        font-size: 1.2rem !important;
    }
    .batchImage{
        width: 100%;
        left: 0;
        top: -41%;
    }
    .logoImage-footer {
        width: 90%;
    }
  }
  
@media (max-width: 480px) {
    .new-footer-logo {
        width: 100%;
    }
    .quats{
        bottom: -16px !important;
        margin-left: 0;
    }
     .logo-bottom-text{
        bottom:-29%;
        margin-left: 0;
     }
    .batchImage{
        width: 100%;
        left: 0;
        top: -41%;
    }
    .logoImage-footer {
        width: 90%;
    }
    .vertical-line-footer {
        border: 1px solid white;
        background-color: white;
        height: 0;
        width: 100%;
    }
    .input-text {
        width: 100% !important;
    }
    .add-new-foot{
        font-size: 12px !important;
    }
    .icon-social i {
        font-size: 1.2rem !important;
    }
  }
  
  @media (max-width: 375px){
    .batchImage{
        width: 100%;
        left: 0;
        top: -47%;
    }
    .logoImage-footer {
        width: 90%;
    }
  }
  @media (max-width: 320px){
    .batchImage{
        width: 100%;
        left: 0;
        top: -54%;
    }
    .logoImage-footer {
        width: 50%;
        top: -83px;
        left: 70px;
    }
  }