.ucu-media-page-card {
    background: #fefefe !important;
    border:1px solid #dbdbdb;
    color: black !important;
    box-shadow: -1px 4px 16px #0000003b !important;
    border-radius: 13px !important;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
.ucu-media-page-card:hover{
    box-shadow:-1px 7px 16px #0000003b !important;
    transform: translateY(-6px);
}

.med-route-bg {
    padding-right: 8%;
}
.fsize-6{
    font-size: 0.9rem;
}

.med-image {
    height: 40vh;
    max-width: 400px;
    width: 100%;
    border-radius: 5px;
}

@media (max-width:768px) {
    .ucu-media-page-card {
        height: fit-content !important;
    }

}

@media (max-width:480px) {
    .med-route-bg {
        padding: 0 3%;
    }

    .ucu-media-page-card {
        flex-direction: column !important;
    }
    .ucu-event-page-image{
        height: 30vh !important;
    }
    .med-image{
        height: 30vh;
        object-fit: cover;
    }
}